.content_login {
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.login_form {
  height: 100%;
  align-content: center;
  padding: 30px 0px;
}

.form-sg {
  height: auto !important;
  margin-top: 30px;
  margin-bottom: auto;
  width: 450px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}



.form-sg .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.form-sg .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.form-sg-header h3 {
  color: white;
}

.form-sg .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.form-sg .input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

.form-sg input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.form-sg .remember {
  color: white;
}

.form-sg .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.form-sg .login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.form-sg .login_btn:hover {
  color: black;
  background-color: white;
}

.form-sg .links {
  color: white;
}

.form-sg .links a {
  margin-left: 4px;
}
/*--register--*/
.form-rg {
  height: auto !important;
  margin-top: 30px;
  margin-bottom: auto;
  width: 450px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.form-rg .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.form-rg .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.form-rg-header h3 {
  color: white;
}

.form-rg .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.form-rg .input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}
.form-rg input::placeholder{
  color: black;
}
.form-rg input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.form-rg .remember {
  color: white;
}

.form-rg .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.form-rg .login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.form-rg .login_btn:hover {
  color: black;
  background-color: white;
}

.form-rg .links {
  color: white;
}

.form-rg .links a {
  margin-left: 4px;
}