@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.85;
	font-weight: 400;
	color: #76777a;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color: #384158;
	margin-bottom: 0;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	top: -40px;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	background: orange;
}
.header.scrolled .top_bar
{

}
.top_bar_container
{
	width: 100%;
	height: 100%;
}
.top_bar_content
{
	width: 100%;
	height: 40px;
}
.top_bar_contact_list li
{
	display: inline-block;
}
.question
{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 0px;
}
.top_bar_contact_list li i,
.top_bar_contact_list li > div
{
	display: inline-block;
	font-size: 14px;
	color: #FFFFFF;
}
.top_bar_contact_list li > div
{
	margin-left: 1px;
}
.top_bar_contact_list li:not(:last-child)
{
	margin-right: 21px;
}
.top_bar_login
{
	height: 100%;
}
.login_button
{
	width: 160px;
	height: 100%;
	background: #f3f3f3;
	text-align: center;
}
.login_button a
{
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	color: #384158;
}

/*********************************
3.2 Header Content
*********************************/

.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	height: 85px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 75px;
}

/*********************************
3.3 Logo
*********************************/

.logo,
.logo_text
{
	display: inline-block;
}
.logo
{
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo img
{
	max-width: 100%;
}
.logo_text
{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: orange;
	vertical-align: middle;
	margin-left: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo_text span
{
	color: #384158;
}
.header.scrolled .logo
{
	width: 40px;
	height: 40px;
}
.header.scrolled .logo_text
{
	font-size: 24px;
}

/*********************************
3.4 Main Nav
*********************************/

.main_nav_contaner
{

}
.main_nav,
.search_button,
.shopping_cart
{
	display: inline-block;
}
.main_nav li
{
	display: inline-block;
	position: relative;
}
.main_nav li:not(:last-child)
{
	margin-right: 44px;
}
.main_nav li a
{
	font-size: 18px;
	font-weight: 500;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav li a:hover,
.main_nav li.active a
{
	color: orange;
}
.main_nav li.active::after
{
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background: orange;
	content: '';
}
.search_button
{
	margin-left: 46px;
	cursor: pointer;
}
.shopping_cart
{
	margin-left: 23px;
	cursor: pointer;
}
.search_button i,
.shopping_cart i
{
	font-size: 18px;
	color: #181818;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_button:hover i,
.shopping_cart:hover i
{
	color: orange;
}
.header_search_form
{
	display: block;
	position: relative;
	width: 40%;
}
.header_search_container
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: orange;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header_search_container.active
{
	bottom: -60px;
	opacity: 1;
}
.header_search_content
{
	width: 100%;
	height: 60px;
}
.search_input
{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.header_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}

/*********************************
3.5 Hamburger
*********************************/

.hamburger_container
{

}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 20px;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: orange;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}
.menu .logo a
{
	color: #000000;
}
.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.menu_nav ul li
{
	margin-bottom: 9px;
}
.menu_nav ul li a
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(0,0,0,1);
	font-weight: 700;
	letter-spacing: 0.1em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: orange;
}
.menu .search
{
	width: 100%;
	margin-bottom: 67px;
}
.search
{
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.menu .header_search_form
{
	width: 100%;
}
.search form
{
	position: relative;
}
.menu .search_input
{
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	border: none;
	outline: none;
	padding-left: 15px;
	color: rgba(0,0,0,0.5);
}
.menu .search_input::-webkit-input-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0,0,0,0.4) !important;
}
.menu .search_input:-moz-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0,0,0,0.4) !important;
}
.menu .search_input::-moz-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0,0,0,0.4) !important;
} 
.menu .search_input:-ms-input-placeholder
{ 
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0,0,0,0.4) !important;
}
.menu .search_input::input-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0,0,0,0.4) !important;
}

/*********************************
5. Section
*********************************/

.section_title_container
{
	max-width: 600px;
	margin: 0 auto;
}
.section_title
{
	line-height: 1.2;
}
.section_subtitle
{
	line-height: 1.85;
	margin-top: 14px;
}
.section_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*********************************
6. Home
*********************************/

.home
{
	width: 100%;
	height: 450px;
}
.home_slider_container
{
	width: 100%;
    height: 100%;
    top: 127px;
}
.home_slider
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_slider_content
{
	position: absolute;
	top: 41%;
	left: 0;
	width: 100%;
	height: auto;
}
/* .home_slider_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
	color: #384158;
}
.home_slider_subtitle
{
	font-size: 24px;
	color: #76777a;
	margin-top: 9px;
}
.home_slider_form_container
{
	width: 832px;
	margin: 0 auto;
	margin-top: 35px;
}
.home_search_form div
{
	width: calc(100% - 140px);
	height: 46px;
	background: #FFFFFF;
	border-radius: 3px;
}
.home_search_input
{
	width: 33.33333333%;
	border: none;
	outline: none;
	height: 25px;
	padding-left: 20px;
}
.home_search_input:not(:last-child)
{
	border-right: solid 1px #e5e5e5;
}
.home_search_input::-webkit-input-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.home_search_input:-moz-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.home_search_input::-moz-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
} 
.home_search_input:-ms-input-placeholder
{ 
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.home_search_input::input-placeholder
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
} */
.dropdown_item_select
{
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/down.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-left: 20px;
}
.home_search_button
{
	width: 120px;
	height: 46px;
	background: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
}
.home_slider_nav
{
	position: absolute;
	top: 71.8%;
	width: 50px;
	background: #b6b7bd70;
	border-radius: 50%;
	text-align: center;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_prev
{
	left: 75px;
}
.home_slider_next
{
	right: 75px;
}
.home_slider_nav i
{
	line-height: 50px;
	color: #FFFFFF;
	font-size: 22px;
}
.home_slider_nav:hover
{
	background: orange;
}
  /*Menu End*/
/*Carousel*/


.mega-dropdown {
    position: static !important;
    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1px;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 16px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}


/*Carousel End*/
/*MainNav */


.land-content p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.mian-content {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Roboto', sans-serif;
}


/*--/header --*/

/*--/navbar--*/

.banner_img{
    margin-top: 110px;
}

.dropdown-item {
    padding: 15px 1rem;
    margin: 0;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    top: 35px;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-brand img {
    margin-bottom: 10px;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1px;
}

/*--shopping cart--*/
.badge {
    background-color: red;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.lighter-text{
    color: #000000;
}
.shopping-cart {
    background: rgba(255, 255, 255, 0.9);
    width: 330px;
    position: absolute;
    top: 47px;
    right: -60px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transition: all .2s ease;
    transition: all .4s ease;
    opacity: 0;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(0);
    transform-origin: right top 0;
    transform: scale(0);
    z-index: 1;
}

.shopping-cart.active {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transition: 0.4s;
    transform-origin: right top 0;
    transform: scale(1);
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
    font-size: 18px;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 12px;
    color: black;
}

.shopping-cart .shopping-cart-items .item-price {
    display: block;
    font-size: 12px;
    color: red;
    overflow: hidden;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: rgb(128, 130, 136);
    font-size: 12px;
}

.shopping-cart:after {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgb(10, 10, 10);
    border-width: 10px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 20px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #f8770c;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    margin: 25px 0 15px 0;
    text-transform: uppercase;
}

.button:hover {
    background: #f87f1b;
}

.button i {
    padding-left: 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*---*/

.dropdown-toggle::after {
    width: 0;
    height: 0;
    margin-left: 0;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border: 0px;
}


.dropdown-item:hover,
.dropdown-item:focus {
    color: orange;
    text-decoration: none;
    background-color: #f0f0f1;
}

.header-bg {
    background: #fbbc05;
    padding: 1px 0;
}

ul.header-info li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
}

ul.header-info li:nth-child(2) {
    margin: 0 1em;
}

ul.header-info li a {
    color: #fff;
}

/*-- //header --*/

.login-right-img {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.top-head-wthree span {
    color: #ffff;
    letter-spacing: 2px;
    font-weight: 600;
}

.top-head-wthree a {
    color: #ffff;
    letter-spacing: 2px;
}

.top-content-info {
    position: relative;
    margin: 0 0 0.2em 0;
}

.log-in a {
    border-radius: 4px;
    border: 2px solid #ffc107;
    padding: 0.4em 1.5em;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    background: #ffc107;
}

.log-in a:hover {
    border: 2px solid #ffc107;
    background: none;
    color: #ffc107;
}

.top-content-left h6 {
    color: #fff;
    font-size: 0.9em;
    text-decoration: underline;
}

.callnumber h6 {
    color: #fff;
    font-weight: 300;
}

.top-head-wthree {
    background: #000;
    padding: 0.3em 2em;
}

a.request {
    padding: 0 20px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 15px;
}

a.request:nth-child(2) {
    border-left: 1px solid #ddd;
}

.login-right-img {
    padding-top: 1px;
}

/* Search Input */
.header-search input[type="search"] {
    outline: none;
    border: none;
    padding: 8px 8px;
    color: #848484;
    font-size: 14px;
    border-right: 1px solid #eee;
    background: #fff;
    float: left;
    letter-spacing: 2px;
    border-radius: 0;
}

.header-search button.btn.btn1 {
    color: #fff;
    border: none;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    background: #000000;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    cursor: pointer;
    border-radius: 0;
}

/* //Search Input */
.info_company {
    margin-top: 40px;
}

/*--/banner-info--*/

.cont-btn a {
    border-radius: 4px;
    border: 2px solid #fff;
    padding: 0.3em 2em;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.cont-btn a:hover {
    background: orange;
    border: 2px solid orange;
}

.cont-btn {
    margin-top: 1rem;
}

.mian-content {
    position: relative;
}


.top-content-left {
    padding: 0;
    margin-top: 0.5em;
}

ul.header-info-w3ls i {
    margin-right: 5px;
}

.social-icons li {
    list-style: none;
    display: inline-block;
}


ul.social-icons li a span {
    color: white;
    font-size: 13px;
    background: transparent;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: block;
    border: 2px solid white;
    display: inline-block;
    border-radius: 50%;
}

ul.social-icons li a span:hover {
    color: #fbbc05;
}

.land-gd {
    float: left;
    width: 50%;
}

.land-image {
    float: left;
    width: 22%;
}

.land-content {
    float: left;
    width: 73%;
}

.land-content h4 {
    color: #fff;
    font-size: 1.2em;
}

.top-content-right {
    text-align: end;
}

.land-image i {
    color: #fbbc05;
    font-size: 1em;
}

/*-- /banner-info --*/

/*-- /banner-bottom --*/

h3.tittle {
    color: #333;
    font-size: 3.5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    letter-spacing: 1px;
}

/*-- //banner-bottom --*/

/*--bottom-last--*/
/*product lock*/
.card {
    height: 100%;
    border: none;
}

/*.single_product {
    overflow: hidden;
    position: relative;
    /* -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3); 
} */
.single_product {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.single_product img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
}

.single_product .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.single_product .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.single_product .buttons .fa {
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    opacity: 0;
    position: relative;
    -webkit-transition: all 0.3s, color 0.1s 0.3s;
    -moz-transition: all 0.3s, color 0.1s 0.3s;
    -o-transition: all 0.3s, color 0.1s 0.3s;
    transition: all 0.3s, color 0.1s 0.3s;
    color: transparent;
}
.single_product .buttons .fa:hover{
    color: orange !important;
}

.single_product .buttons .fa-link {
    left: -10px;
}

.single_product .buttons .fa-search {
    left: 10px;
}

.single_product:hover .buttons .fa {
    opacity: 1;
    left: 0;
    color: rgba(50, 50, 50, 0.9);
}

.single_product:hover .ovrly {
    opacity: 1;
}

.title_product {
    padding: 3px 0px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.single_product .card-title {
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 600;
}

.single_product_content .card-text {
    color: #000;
}

.single_product .ovrly {

    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.money {
    color: red;
}

.single_product .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.single_product .buttons .fa {
    margin: 0 1px;
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.single_product .price_product{
    font-size: 12px;
}
.single_product:hover .buttons {
    top: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.single_product:hover .ovrly {
    top: 0;
}

.product-lock {
    margin: 25px 0px;
}

.product-lock h5 {
    border-left: 3px solid orange;
    padding-left: 10px;
}

.product-lock h5 a {
    color: black;
    font-weight: bold;
}

.product-lock h5 a:hover {
    color: orange;
}

/*banner images*/
figure.banner_img_item {
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 40px 0px;
    height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #df8510c7;
}

figure.banner_img_item *,
figure.banner_img_item *:before,
figure.banner_img_item *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

figure.banner_img_item img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.8;
}

figure.banner_img_item .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
}

figure.banner_img_item .title:before,
figure.banner_img_item .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.banner_img_item .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.banner_img_item .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

figure.banner_img_item .title div:before,
figure.banner_img_item .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.banner_img_item .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

figure.banner_img_item .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

figure.banner_img_item h2,
figure.banner_img_item h4 {
    margin: 0;
    text-transform: uppercase;
}

figure.banner_img_item h2 {
    font-weight: 400;
}

figure.banner_img_item h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

figure.banner_img_item figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

figure.banner_img_item figcaption p {
    margin: 0;
}

figure.banner_img_item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.banner_img_item:hover img,
figure.banner_img_item.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}

figure.banner_img_item:hover .title:before,
figure.banner_img_item.hover .title:before,
figure.banner_img_item:hover .title:after,
figure.banner_img_item.hover .title:after,
figure.banner_img_item:hover .title div:before,
figure.banner_img_item.hover .title div:before,
figure.banner_img_item:hover .title div:after,
figure.banner_img_item.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.banner_img_item:hover .title:before,
figure.banner_img_item.hover .title:before,
figure.banner_img_item:hover .title:after,
figure.banner_img_item.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.banner_img_item:hover figcaption,
figure.banner_img_item.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    color: #000000;
}

/*Product*/
.item a img,
figure img {
    height: 200px;
}

.card {
    position: relative;
    width: 100%;
}

.card-img-top {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .card-img-top {
    opacity: 0.3;
}

.card:hover .middle {
    opacity: 1;
}

.card-body {
    text-align: center;
}

.card-title a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;

}

.card-title a:hover {
    color: orange;
}



.new_index {
    background: rgba(236, 228, 228, .25);
}

.title_new {
    padding: 15px 0px;
    font-weight: bold;
}

.title_new h4 {
    border-left: 3px solid orange;
}

.title_new_id {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0px 15px;
}

.new_content {
    margin: 3rem 0px;

}

.new_content img {
    width: 100%;
    height: 200px;
}

.new_content .card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.new_content .card-title:hover {
    color: orange;
}

.new_content .card-text {
    font-size: 12px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.new_content .new_btn {
    margin: 35px 0px;
}

/*new*/

.content_new {
    margin: 3rem 0px;
}

.content_new img {
    width: 100%;
    height: 250px;
}

.content_new .card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.content_new .card-title:hover {
    color: orange;
}

.content_new .card-text {
    font-size: 14px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

/* menu sidebar*/
#product {
    margin-top: 4rem;
}

ul {
    list-style-type: none;
}

.accordion {
    width: 100%;
    background: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #FFF;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: orange;
}

.accordion li.open i {
    color: orange;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {
    display: block;
}

/**
* Submenu
-----------------------------*/
.submenu {
    display: none;
    background: rgba(0, 0, 0, .5);
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: orange;
    color: #FFF;
}

/*product_new*/
.new_product {
    text-align: center;
    margin-top: 10px;
}

.new_product img {
    height: 150px;
}

.new_product-title {
    font-size: 18px;
    color: white;
    background: #000;
    border: 2px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.new_product .owl-product {
    width: 80%;
    margin: auto;
}

/*top_product*/
.top_product {
    text-align: center;
    margin-top: 10px;
}

.top_product img {
    height: 150px;
}

.top_product-title {
    font-size: 18px;
    color: white;
    background: #000;
    border: 2px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top_product .owl-product {
    width: 80%;
    margin: auto;
}

/*footer*/
.footer
{
	display: block;
	position: relative;
	width: 100%;
	background: #1e2434;
	padding-top: 94px;
}
.footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer_content
{
	padding-bottom: 53px;
}
.footer_logo_text
{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: orange;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_logo_text span
{
	color: #000;
}
.footer_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 0.75;
}
.footer_logo_container
{
	margin-top: -14px;
}
.footer_about_text
{
	margin-top: 31px;
}
.footer_about_text p
{
	color: #FFFFFF;
}
.footer_social
{
	margin-top: 23px;
}
.footer_social ul li
{
	display: inline-block;
	width: 45px;
	height: 45px;
	background: #4b505d;
	border-radius: 50%;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 6px;
}
.footer_social ul li a
{
	display: block;
	position: relative;
	text-align: center;
}
.footer_social ul li a i
{
	color: #FFFFFF;
	line-height: 45px;
}
.footer_social ul li:hover
{
	background: orange;
}
.footer_contact
{
	padding-left: 36px;
}
.footer_contact_info
{
	margin-top: 33px;
}
.footer_contact_info ul li
{
	font-size: 14px;
	font-weight: 400;
	color: #b5b8be;
}
.footer_contact_info ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.footer_links
{
	padding-left: 80px;
}
.footer_links_container ul
{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.footer_links_container
{
	margin-top: 33px;
}
.footer_links_container ul li a
{
	font-size: 14px;
	color: #b5b8be;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links_container ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.footer_links_container ul li a:hover
{
	color: orange;
}
/*contact*/
.detail_contact {
    margin-top: 50px;
}

.container .map {
    width: 100%;
    padding-top: 15px;
}

.container .contact-form {
    width: 100%;
    margin-left: 2%;
    float: left;
}

.container .contact-form .title {
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #242424;
    margin: 5% 8%;
}

.container .contact-form .subtitle {
    font-size: 1em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
}

.container .contact-form input,
.container .contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}

.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
    color: #242424;
}

.container .contact-form .btn-send {
    background: orange;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}

/*--product_detail--*/
.product_detail_content {
    font-size: 18px;
}

.price {
    padding: 1.5rem 0px;
}

.price .text_price {
    color: #000;
}

.price .money {
    color: red;
}

.content_item h6 {
    font-weight: bold;
    color: #000;
}

.sp_product {
    margin-left: 1rem;
}

.sp_product li {

    line-height: 25px;
    list-style-type: unset;
}

.sv_product p {
    color: red;
}

.horizontal-tabs {
    font-size: 14px;
    padding: 10px;
    color: black
}

.horizontal-tabs .sv-tab-panel {
    background: #fff;
    height: 145px;
    padding-top: 10px;
}

.horizontal-tabs .nav-tabs .nav-link {
    background: orange;
    border: 1px solid transparent;
    color: #fff
}

.horizontal-tabs .nav-tabs .nav-link.active {
    background-color: #8e6c1ed6 !important;
    border-color: transparent !important;
    color: #fff;
}

.horizontal-tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}

.horizontal-tabs .tab-content>.active {
    background: #fff;
    display: block;
}

.horizontal-tabs .nav.nav-tabs {
    border-bottom: 0;
    border-right: 1px solid transparent;
    background: orange
}

.horizontal-tabs div.tab-content {
    border: solid 1px orange !important;
    max-height: 150px;
}

.horizontal-tabs .sv-tab-panel {
    background: #fff;
    height: 110px;
    padding-top: 10px;
}

.horizontal-tabs div#info_product.tab-pane .sv-tab-panel {
    background: #9a670614
}

.horizontal-tabs div#dts_product.tab-pane .sv-tab-panel {
    background: #9a670614;
}

.horizontal-tabs .sv-tab-panel {
    padding: 10px
}

.related_product h4 {
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.related_product img {
    width: 150px;
}

.link_icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
    font-size: 9px;
    margin: 0 5px;
}

/*---Contact--*/
/*-- /map --*/
.agileits-w3layouts-map iframe {
    width: 100%;
    min-height: 350px;
    border: none;
    margin-bottom: -6px;
}

.contact-agileits-title {

    background-color: #fbbc05;
    padding: 4em;

}

::-webkit-input-placeholder {
    color: #fff !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

:-ms-input-placeholder {
    color: #fff !important;
}

/*-- //map --*/
/*--get in touch--*/

.contact-agileits-title h3 {
    text-align: center;
    font-size: 50px;
    margin: 0px 0px 50px;
    color: #fff;
}

.get-touch-top {
    text-align: center;
    padding-bottom: 3em;
}

.get-touch-top h3 {
    font-size: 3em;
    color: #CF0C68;
    margin-bottom: 0.2em;
}



.get-touch-top p {
    font-size: 1.05em;
    color: #716E6E;
    margin: 0 auto;
    width: 50%;
    line-height: 1.8em;
}

.get-touch-bottom input[type="text"] {
    display: inline-block;
    background: none;
    border: 1px solid #fff;
    width: 48%;
    outline: none;
    font-size: 0.95em;
    color: #000;
    font-weight: 400;
    border-radius: 2px;
    padding: 14px 15px;
    margin: 0% 1% 2% 0%;
}

.get-touch-bottom input[type="email"] {
    display: inline-block;
    background: none;
    border: 1px solid #fff;
    width: 48%;
    outline: none;
    font-size: 0.95em;
    color: #747577;
    font-weight: 400;
    border-radius: 2px;
    padding: 14px 15px;
    margin: 0% 1% 2% 0%;
}

.get-touch-bottom input.no-mar {
    margin: 0% 0% !important;
}

.get-touch-bottom textarea {
    background: none;
    border: 1px solid #fff;
    width: 100%;
    display: block;
    height: 15em;
    outline: none;
    font-size: 0.95em;
    color: #747577;
    font-weight: 400;
    resize: none;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
}

.get-touch-bottom input[type="submit"] {
    font-size: 1em;
    color: #000;
    padding: 0.6em 1em 0.6em 1em;
    display: block;
    border: none;
    margin: 1em auto 0em;
    outline: none;
    background: #fff;
    border-radius: 0px;
    text-align: center;
    width: 14%;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
}

.get-touch-bottom input[type="submit"]:hover {
    background: orange;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    color: #fff;
}

/*--get in touch--*/


.w3ls_footer_grids p.agileits_w3layouts_est {
    color: #fff;
    line-height: 2em;
    margin: 2em auto 6em;
    width: 65%;
    text-align: center;
}

.w3ls_footer_grid_leftl {
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    background: orange;
}

.w3ls_footer_grid_leftl i {
    color: #fff;
    font-size: 1em;
    line-height: 3.8em;
}

.w3ls_footer_grid_leftr {
    width: 100%;
}

.w3ls_footer_grid_leftr h4 {
    font-size: 25px;
    color: #000;
    letter-spacing: 3px;
    margin: 20px 0px;
}

.w3ls_footer_grid_leftr p {
    color: #999;
    line-height: 1.5em;
}

.w3ls_footer_grid_leftr a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
}

.w3ls_footer_grid_leftr a:hover {
    color: #fa3d43;
}

.w3l_footer_pos p {
    text-align: center;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 2px;
}

.w3l_footer_pos p a {
    color: orange;
    text-decoration: underline;
}

.w3l_footer_pos p a:hover {
    color: #000;
}

.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftl {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-appearance: none;
}

.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftl i {
    color: #fff;
}

.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftr h4 {
    color: orange;
}

.w3_cnc {
    position: relative;
    padding: 20em 0em;
}

.w3_ctc {
    position: absolute;
    top: -64px;
    width: 100%;
}

.w3l_footer {
    margin-top: 50px;
}

.wthree_footer p {
    padding: 2em;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
}

.wthree_footer a {
    color: #fff;
}

.wthree_footer {
    margin: 50px 0px 0px;
    text-align: center;
    background-color: #00a98f;
}

.w3ls_footer_grid_left {
    text-align: center;
}

/*---details_new-*/
.title_detail_new {
    margin: 20px 0px;
    text-align: center;
}

.content_detail_new {
    margin: 30px 0px;
}

.content_detail_new p {
    color: #000;
    font-size: 16px;
    padding: 10px;
}

.content_detail_new img {
    margin: auto;
    display: block;
    height: 350px;
}

.video_detail_new {
    width: 100%;
}

.video_detail_new iframe {
    width: 100%;
}

/*--go to top--*/
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../img/scroll_top.jpg') no-repeat;
    background-color: #000;
}


/*--responsive--*/

@media(max-width:1440px) {
    .freebies figure {
        height: 500px;
        max-height: 482px;
        margin: 0;
    }

}

@media(max-width:1366px) {
    .freebies figure {
        max-height: 463px;
        margin: 0;
    }
}

@media(max-width:1280px) {
    .freebies figure {
        max-height: 424px;
        margin: 0;
        justify-content: center;
    }
}

@media(max-width:1080px) {
    .inner-page {
        min-height: 215px;
    }

    .freebies figure {
        max-height: 360px;
        margin: 0;
    }

    .feedback-top {
        padding: 2em;
    }
}

@media(max-width:1050px) {
    .freebies figure {
        max-height: 348px;
        margin: 0;
    }
}

@media(max-width:1024px) {
   
}

@media(max-width:991px) {
   
}

@media(max-width:900px) {
    .freebies figure {
        max-height: 305px;
        margin: 0;
    }
}

@media(max-width:800px) {
   
}

@media(max-width:768px) {
  
}

@media(max-width:767px) {
   
}

@media(max-width:736px) {
    .slide-window .slide-wrapper .slide .slide-caption h3 {
        margin: 0rem;
        font-size: 2rem;
    }

    .carousel-item img {
        height: 250px;
    }
}

@media(max-width:667px) {
   
}

@media(max-width:640px) {
    .address-right {
        text-align: center !important;
        margin: 1.2em 0;
    }

    .main_grid_contact {
        padding: 3em 2em;
    }

    .inner-page {
        min-height: 160px;
    }

    .cont-btn a {
        padding: 0.3em 1.5em;
        font-size: 1em;
    }

    .carousel-item img {
        height: 300px;
    }
}

@media(max-width:568px) {
    
}

@media(max-width:480px) {
    
}

@media(max-width:440px) {
   


}

@media (max-width: 576px) {

  

}

@media (max-width:767px) {
   
}



/*--//responsive--*/